body {
    margin: 0;
    padding: 0;
}

.header {
    background-color:blue ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    text-align: right;
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}
.list li {
    padding-left: 20px;
    display: inline-block;
}
.logo {
    font-size: 32px;
    padding-left: 20px;
    color: aliceblue;
}
